*{
  box-sizing: border-box;
}

.fullwidth { /*Forsidens øverste billede*/
  text-align: center;
  position: relative;
}

.fullwidth img{
  max-width: 100%;
}

.fullwidth h2{
  position: absolute; /*Så den kan placeres på billedet*/
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 7vw;
  text-shadow: 0px 2px 5px #000;
  top: 15%;
  left: 50%; /*Placér forankringspunkt i midten*/
  transform: translate(-50%, -50%); /*Sætter forankringspunktet til midten af linjen*/
}

.fullwidth button {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%); /*Sætter forankringspunktet til midten af linjen*/
  font-family: 'Open Sans', sans-serif;
  font-size: 3vw;
}

.newfurniture {
  display: flex;
  justify-content: space-evenly;
}
.newfurniture img {
  height: 20em;
  float:left;
  margin: 1%;
}

.int1, .int2 {
  position: relative;
}

.int1 h3 {
  position: absolute;
  color: white;
}

.int2 h3 {
  position: absolute;
  color: white;
}
