*{
  box-sizing: border-box;
}

.fullwidth { /*Forsidens øverste billede*/
  text-align: center;
  position: relative;
}

.fullwidth img{
  max-width: 100%;
}

.fullwidth h2{
  position: absolute; /*Så den kan placeres på billedet*/
  font-family: 'Playfair Display SC', serif;
  color: white;
  font-size: 6vw;
  text-shadow: 0px 2px 5px #000;
  top: 15%;
  left: 50%; /*Placér forankringspunkt i midten*/
  transform: translate(-50%, -50%); /*Sætter forankringspunktet til midten af linjen*/
}

.fullwidth button {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%); /*Sætter forankringspunktet til midten af linjen*/
  font-family: 'Open Sans', sans-serif;
  font-size: 3vw;
}

@media (min-width: 801px) {
.newfurniture {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}

  @media (max-width: 800px) {
    .newfurniture {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }
  }
  @media (max-width: 400px) {
    .newfurniture {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
    }
  }

.newfurniture img {
  width: 100%;
}

.int1, .int2, .int3, .int4 {
  position: relative;
}

.int1 h3, .int2 h3, .int3 h3, .int4 h3 {
  position: absolute;
  color: white;
  text-shadow: 2px 0px 2px #000;
  text-align: center;
}

/*.int2 h3 {
  position: absolute;
  color: white;
  text-shadow: 2px 0px 2px #000;
  left: 2em;
}*/
